// Ystorian colors.
// Main (right) hsl(265, 100%, 60%):
$ystorian_color: "#8833ff";
// Light (left) hsl(265, 100%, 70%):
$ystorian_color_light: "#a666ff";
// Lighter (up) hsl(265, 100%, 80%):
$ystorian_color_lighter: "#c499ff";
